{% load static %}

<li class="nav-item">
    <a class="nav-link" href="/">
        <i class="bx bxs-home mr-2"></i>Home
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'business:dashboard' %}">
        <i class="bx bx-sitemap mr-2"></i>Dashboard
    </a>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="bx bx-collection mr-2"></i>Project
        <div class="arrow-down"></div>
    </a>
    <div class="dropdown-menu" aria-labelledby="topnav-components">
        <a href="{% url 'business:project_create' %}" class="dropdown-item">Add Project</a>
        <a href="{% url 'business:project_list' %}" class="dropdown-item">Projects</a>
        <a href="{% url 'business:shares' %}" class="dropdown-item">Shares</a>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'business:project_investor' %}">
        <i class="bx bx-briefcase mr-2"></i>Investors
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'business:payment' %}">
        <i class="fa fa-credit-card mr-2"></i>Payments
    </a>
</li>


{# ------------------------------------------------------------------------------------------------------------------ #}