 {% load static %}
 <!-- Footer Section Starts Here -->
    <footer class="footer-section section-bg">
        <div class="footer-top padding-top pb-5 border-bottom border--white">
            <div class="container">
                <div class="row gy-5 justify-content-md-between">
                    <div class="col-xl-3 col-lg-3 col-sm-6">
                        <div class="footer__widget">
                            <h3 class="widget-title">About Company</h3>
                            <p>Aliquam orci a nullam tempor sapien  graonec enim ipsum porta justo velna an auctor undo congue magna laoreet augue sapien</p>
                            <ul class="social-links">
                                <li><a class="facebook-bg" href="#0"><i class="lab la-facebook-f"></i></a></li>
                                <li><a class="twitter-bg" href="#0"><i class="lab la-twitter"></i></a></li>
                                <li><a class="instagram-bg" href="#0"><i class="lab la-instagram"></i></a></li>
                                <li><a class="pinterest-bg" href="#0"><i class="lab la-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-sm-6">
                        <div class="footer__widget">
                            <h3 class="widget-title">Useful Links</h3>
                            <ul class="footer-links">
                                <li><a href="plan.html">Hyip Plan</a></li>
                                <li><a href="privacy-policy.html">Privacy & Policy</a></li>
                                <li><a href="dashboard.html">Dashboard</a></li>
                                <li><a href="sign-in.html">Login Account</a></li>
                                <li><a href="terms-conditions.html">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-sm-6">
                        <div class="footer__widget">
                            <h3 class="widget-title">Company</h3>
                            <ul class="footer-links">
                                <li><a href="about.html">About</a></li>
                                <li><a href="blog.html">Blog Post</a></li>
                                <li><a href="dashboard.html">User Dashboard</a></li>
                                <li><a href="faq.html">Faq</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-sm-6">
                        <div class="footer__widget">
                            <h3 class="widget-title">Gateway</h3>
                            <ul class="footer-links">
                                <li><a href="dashboard.html">Paypal</a></li>
                                <li><a href="dashboard.html">Bitcoinway</a></li>
                                <li><a href="dashboard.html">Webanking</a></li>
                                <li><a href="dashboard.html">Trusted Way</a></li>
                                <li><a href="dashboard.html">Gambing</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p class="copyright text-center py-3">
                    Copyright &copy; 2021 All Rights Reserved.
                </p>
            </div>
        </div>
    </footer>
    <!-- Footer Section Ends Here -->