 {% load static %}
 <!-- Footer Section Starts Here -->
    <footer class="footer-section section-bg">
        <div class="footer-top padding-top pb-5 border-bottom border--white">
            <div class="container">
                <div class="row gy-5 justify-content-md-between">
                    <div class="col-xl-10 col-lg-10 col-sm-10">
                        <div class="footer__widget">
                            <h3 class="widget-title">About Company</h3>
                            <p>Aliquam orci a nullam tempor sapien  graonec enim ipsum porta justo velna an auctor undo congue magna laoreet augue sapien</p>
                            <ul class="social-links">
                                <li><a class="facebook-bg" href="#0"><i class="lab la-facebook-f"></i></a></li>
                                <li><a class="twitter-bg" href="#0"><i class="lab la-twitter"></i></a></li>
                                <li><a class="instagram-bg" href="#0"><i class="lab la-instagram"></i></a></li>
                                <li><a class="pinterest-bg" href="#0"><i class="lab la-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    
        </div>
        <div class="footer-bottom">
            <div class="container">
                <p class="copyright text-center py-3">
                    Copyright &copy; 2021 All Rights Reserved.
                </p>
            </div>
        </div>
    </footer>
    <!-- Footer Section Ends Here -->