{% extends 'core/base_dashboard.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %} Candidate {{ object.user }} {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">

                {# IMAGE DIV #}
                <div class="text-center">
                    {% if object.investor.profile_pic %}
                    <img class="rounded-circle" src="{{ object.investor.user.profile_image.url }}" height="150px"
                         alt="user-image">
                    {% else %}
                    <img class="rounded-circle" src="{% static 'core/images/logo_100.png' %}"
                         height="150px" alt="no-user-image">
                    {% endif %}
                </div>

                {# NAME AND OTHER #}
                <div class="text-center mt-2">
                    {% if object.investor.user.is_active %}
                    <i class="fa fa-check-circle text-success"></i>
                    {% endif %}
                    </h5>
                    <p class="fw-light text-muted mb-0">( {{ object.investor.user.username }} )</p>
                    <p class="mb-0 text-center">{{ object.investor.user.email }}</p>

                </div>


            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-10">

        <div class="card">
            <div class="card-body border-bottom">
                <p class="mb-0 card-title">Project Information</p>
            </div>
            <div class="card-body">
                <ul class="list-group p-4">
                    <h6>
                        <li> Company Name : {{object.share.project.business}}</li>
                    </h6>
                    <h6>
                        <li> category : {{object.share.project.business.category}}</li>
                    </h6>
                    <h6>
                        <li> website : {{object.share.project.business.website}}</li>
                    </h6>  
                    <h6>
                        <li> status : {{object.share.project.business.status}}</li>
                    </h6>
                    <h6>
                        <li> cro : {{object.share.project.business.cro}}</li>
                    </h6>
                    <h6>
                        <li> registration_number : {{object.share.project.business.registration_number}}</li>
                    </h6>
                    <h6>
                        <li> registration_date : {{object.share.project.business.registration_date}}</li>
                    </h6>  
                    <h6>
                        <li> mandatory_filling : {{object.share.project.business.mandatory_filling}}</li>
                    </h6>
                    <h6>
                        <li> phone_no : {{object.share.project.business.phone_no}}</li>
                    </h6>
                    <h6>
                        <li> created_at : {{object.share.project.business.created_at}}</li>
                    </h6>  
                    <h6>
                        <li> updated_at : {{object.share.project.business.updated_at}}</li>
                    </h6>

                </ul>
            </div>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-12">
        <a href="{% url 'investor:dashboard' %}"><b><i class="fa fa-arrow-left"></i></b> Back to
            Dashboard</a>
    </div>
</div>

{% endblock %}
