<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
    body {
    background: dark;
    margin-top: 120px;
    margin-bottom: 120px;
}


</style>
<div class="row justify-content-center">

    <div class="col-8">
        <div class="text-center">
            <h4>Your Have been successfully Buyed shares</h4>

        </div>




                <div class="row m-5 justify-content-center">
                    <a href="{% url 'investor:project_list' %}"> Go Back</a>
                </div>



            </div>
        </div>


