{% extends 'core/base_dashboard.html' %}
{% load static %}
{% block base_title %} {{ request.user }} {% endblock %}
{% block base_links %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-3">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="media">
                    <div class="mr-3 align-self-center">
                        <i class="bx bx-user-check h2 text-primary mb-0"></i>
                    </div>
                    <div class="media-body">
                        <p class="text-muted mb-2">Total Projects</p>
                        <h5 class="mb-0">
                            {{ project_count }}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="media">
                    <div class="mr-3 align-self-center">
                        <i class="bx bx-import h2 text-success mb-0"></i>
                    </div>
                    <div class="media-body">
                        <p class="text-muted mb-2">Investors</p>
                        <h5 class="mb-0">
                            {{investor_count}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="media">
                    <div class="mr-3 align-self-center">
                        <i class="bx bx-export h2 text-danger mb-0"></i>
                    </div>
                    <div class="media-body">
                        <p class="text-muted mb-2">Closed</p>
                        <h5 class="mb-0">
                            {{ jobs_close_count }}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="media">
                    <div class="mr-3 align-self-center">
                        <i class="bx bxl-telegram h2 text-primary mb-0"></i>
                    </div>
                    <div class="media-body">
                        <p class="text-muted mb-2">-</p>
                        <h5 class="mb-0">
                            00
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="border-bottom card-body">
                <p class="card-title mb-0">New Projects</p>
            </div>
            <div class="card-body">
                {% if projects %}

                <div class="table-responsive">
                    <table class="table table-centered table-nowrap table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Project Name</th>
                            <th scope="col">Project Category</th>
                            <th scope="col">Website</a></th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for object in projects %}
                        <tr>
                            <td>
                                <p class="mb-0">
                                    <b><a href="{% url 'business:project_detail' object.pk %}">{{ object.name }}</a></b>
                                </p>
                            </td>
                            <td>
                                <p class="mb-0">
                                    <b>{{ object.category }}</b>
                                </p>
                            </td>


                            <td><a href="{{object.website}}" target="_blank">{{ object.website }}</a></td>

                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>

                {% else %}
                <p class="text-danger">
                    <b><i class="fa fa-exclamation-circle"></i> No jobs found.</b>
                </p>
                {% endif %}

            </div>
        </div>

    </div>
    <div class="col-6">
        <div class="card">
            <div class="border-bottom card-body">
                <p class="card-title mb-0">Recently Buyed Shares</p>
            </div>
            <div class="card-body">
                {% if project_investor %}

                <div class="table-responsive">
                    <table class="table table-centered table-nowrap table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Investor Name</th>
                            <th scope="col">Project Name</th>
                            <th scope="col">Buyed Shares</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for object in project_investor %}
                        <tr>
                            <td>
                                <p class="mb-0">
                                    <b><a href="{% url 'business:investor_detail' object.pk %">{{ object.investor }}</a></b>
                                </p>
                            </td>
                            <td>
                                <p class="mb-0">
                                    <b><a href="{% url 'business:project_detail' object.pk %}">{{ object.share.project }}</a></b>
                                </p>
                            </td>


                            <td>{{ object.value }}</td>

                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>

                {% else %}
                <p class="text-danger">
                    <b><i class="fa fa-exclamation-circle"></i> No jobs found.</b>
                </p>
                {% endif %}

            </div>
        </div>

    </div>
</div>
{% endblock %}



