{% extends 'core/base_dashboard.html' %}
{% load static %}

{% block base_title %} Investor {% endblock %}
{% block page_heading %} Investor {% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                {% if object_list %}

                <div class="table-responsive">
                    <table class="table table-centered table-nowrap table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Investor</th>
                            <th scope="col">Project</th>
                            <th scope="col">Share</th>
                            <th scope="col">Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                        <tr>
                            <td>
                                <p class="mb-0">
                                    <b><a href="{% url 'business:investor_detail' object.pk %}">{{ object.investor }}</a></b>
                                </p>
                            </td>
                            <td>
                                <p class="mb-0">
                                    <b><a href="{% url 'business:project_detail' object.pk %}">{{ object.share.project }}</a></b>
                                </p>
                            </td>

                            <td>
                                <p class="mb-0">
                                    <b><a href="#">{{ object.share }}</a>
                                    </b>
                            </td>
                            <td>
                                <p class="mb-0">
                                    <b><a href="#">{{ object.value }}</a>
                                    </b>
                            </td>


                            {% endfor %}

                        </tbody>
                    </table>
                </div>

                {% else %}
                <p class="text-danger">
                    <b><i class="fa fa-exclamation-circle"></i> No Project found.</b>
                </p>
                {% endif %}

            </div>
        </div>
        
    </div>
</div>

{% endblock %}